<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Opinion</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
	<div class="hero_area">
 <!-- header section -->
	<header th:if="${userRole == 'ROLE_USER' || userRole == 'ROLE_USER_ROLE'}" th:include="header :: main-header"></header>
<header th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_ADMIN_ROLE'}" th:include="header2 :: main-header"></header>
	<header th:if="${userRole == 'guest'}" th:include="header3 :: main-header"></header>
	
	  <!-- end header section -->
	  </div>
<!-- service section -->

    <section class="service_section ">
      <div class="container body_bg layout_padding">
        <div class="heading_container">
          <h2>
            My Posts
          </h2>
        </div>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-md-6" th:each="post : ${posts}">
            <div class="box">
             <div class="user-info">
            <div class="user-profile">
              <img th:src="@{${post.user.profile}}" alt="User Profile" class="profile-pic">
            </div>
            <div class="user-details">
             <h4 th:text="${post.user.name}"></h4>
              <p th:text="${post.updateDate}"></p>
            </div>
          </div>
              <h4 th:text="${post.title}">
              </h4>
              <p th:utext="${post.message}">
              </p>
              <div class="icon-container">
              <!-- <form th:action="@{/deleteMyPost}" method="post" style="display:inline;"> -->
              <!-- <input type="hidden" name="postId" th:value="${post.postId}"> -->
            	<button class="delete-btn" onclick="showModal()">Delete Account</button>
            	<!-- </form> -->
            <form th:action="@{/UpdateMyPost}" method="post" style="display:inline;">
            <input type="hidden" name="postId" th:value="${post.postId}">
            	<button type="submit" class="btn btn-primary">Edit</button>
            	</form>
            	<div id="deleteModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideModal()">&times;</span>
            <p>Are you sure you want to delete?</p>
            <form th:action="@{/deleteMyPost}" method="post">
                <input type="hidden" th:value="${post.postId}" name="postId"/>
                <button type="submit" style="background-color: #FA928D;">Yes, Delete my Account</button>
            </form>
            <button onclick="hideModal()">Cancel</button>
        </div>
    </div>
          </div>
            </div>
          </div>
          
          
          
          

        </div>
        
      </div>
    </section>

    <!-- end service section -->


    <!-- footer section -->
	<section class="container-fluid footer_section">
		<p>Copyright &copy; 2024 All Rights Reserved By @Ravita Prajapati
		</p>
	</section>
	<!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
